@font-face {
    font-family: 'Basteleur';
    src: url('./fonts/Basteleur-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Mess';
    src: url('./fonts/Mess-Light.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;